.cv{
    display: grid;
    grid-template-rows: auto 1fr;
    width: 720px;
}


h2{
    display: flex;
    justify-content: center;
    background-color: var(--subtitle-background-color);
    color: var(--subtitle-color);
}

.details{
    background-color: var(--details-color);
    padding: 40px;
}