.education{
    margin: 22px 0px;
    display: flex;
    align-items: flex-start;
    font-size: 18px;
}

.school{
    font-weight: bold;
}

.degree{
    font-size: 16px;
}

.date{
    display: flex;
    gap:5px;
}


.left-side{
    min-width: 180px;
}