.education{
    margin: 22px 0px;
    display: flex;
    align-items: flex-start;
    gap:20px;
    font-size: 18px;
}

.school{
    font-weight: bold;
}

.degree{
    font-size: 16px;
}

.date{
    display: flex;
    gap:5px;
}