:root{
    --background-body-color:#f3f4f6;

    --header-background-color: #0e374e;
    --header-color: #fff;
    --details-color: #fff;
    --subtitle-background-color: rgba(14, 55, 78, .07);
    --subtitle-color: #0e374e;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background-body-color)
}